* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .mainCntnr {
    background: white;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0px 60px;
  }

  .cardsCntnr {
    display: flex;
    flex: 1;
    gap: 1rem;
    padding-left: 50px;
  }
  .imgCntnr {
    flex: 4;
    height: 550px;
    cursor: pointer;
    transition: all 0.5s;
    animation-timing-function: linear;
  }
  .imgCntnr img {
    max-width: 100%;
    border-radius: 20px;
    object-fit: cover;
    height: 100%;
  }
  .active {
    flex: 1.5;
    transition: 0.5s;
  }